/* Estilos generales para la página */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #666;
  }
  
  h3 {
    color: #999;
  }
  
  h4 {
    color: #777;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.5;
  }
  
  /* Estilos específicos para el enlace */
  
  a:hover {
    text-decoration: underline;
  }
  