/* Estilos generales */
body {
    background: linear-gradient(135deg, rgb(93, 136, 201), rgb(126, 168, 231));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }
  
  header {
    background-color: #ffffff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  section {
    padding: 40px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos específicos */
  h1 {
    margin: 0;
  }
  
  ul {
    padding-left: 20px;
  }
  
  a {
    color: #333;
  }
  
  a:hover {
    color: #666;
  }
  